* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
	background-image: linear-gradient(to top, rgba(0, 0, 0, 1) 100%, rgba(0, 0, 0, 0) 0%), url("/Netx.com/images/brands/Netflix.jpeg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-size: cover;
}

//Navbar
.navbar {
  color: #f8f9fa;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  flex-flow: inherit;
}

//Scroller
@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
  }
  .offcanvas-collapse.open {
    visibility: visible;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  width: max-content;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

//Background Carousel, Suggestions Banner, Title, Image Gallery Grid(1 - 5)
//Background Carousel
.carousel-indicators {
  right: 0;
  left: auto;
  top: 20vh;
  left: 3rem;
  height: 50vh;
}

.carousel-item {
  height: 65vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  &:before{
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      overflow: visible;
      background-size: cover;
      background-image: linear-gradient(to top, #000000 30%, rgba(255,0,0,0));
      scroll-behavior: smooth;
      /*-webkit-filter: blur(2px);
      -moz-filter: blur(2px);*/
  }

  & .left {
      text-align: start;
      top: 35vh;
      left: 1.5rem;
      height: 50vh;
  }
  
  & .left .logo-one {
    width: 15%;
    margin: 0 -0.7rem;
   }
 
   & .left .logo-two {
     width: 40%;
     margin: 0 -0.6rem;
   }

  & .left img {
    position: relative;
  }

  & .left:last-child {
    padding: 0 ;
  }

  & .left:last-child span {
    color: red;
  }

}


.suggestion-box {
    
//Title
    & .title-small {
        font-size: 1.3rem;
        color: #f8f9fa;
        padding: 0 1rem;
      }
    
      & .title-large {
        color: #f8f9fa;
        padding: 0 1rem;
      }
}

//Image Gallery Grid (1 - 5)
.image-gallery {
    justify-content: center;
    display: flex;

  //Image img-1
  & .img-1 {
    display: flex;
  }

  & .img-1 img{
    object-fit: cover;
    border-radius: 0.1rem;
    margin: 0 0.6rem;
    filter: grayscale(0) brightness(1);
    transition: 0.5s;
  }
  
  & .img-1 img:hover{
    filter: grayscale(0) brightness(1);
    transform: scale(1.02);
  }

  //Image img-2  
  & .img-2 {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr;
  }
  
  & .img-2 img{
    object-fit: cover;
    border-radius: 0.1rem;
    margin: 0.2rem 0;
    filter: grayscale(0) brightness(1);
    transition: 0.5s;
  }
  
  & .img-2 img:hover{
    filter: grayscale(0) brightness(1);
    transform: scale(1.02);
  }

  //Image img-3  
  & .img-3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 0.3rem;
  }
  
  & .img-3 img{
    object-fit: cover;
    border-radius: 0.1rem;
    filter: grayscale(0) brightness(1);
    transition: 0.5s;
  }
  
  & .img-3 img:hover{
    filter: grayscale(0) brightness(1);
    transform: scale(1.02);
  }

  //Image img-4  
   & .img-4 {
    display: flex;
  }
  
   & .img-4 img{
     object-fit: cover;
     margin-left: -0.6rem;
    border-radius: 0.1rem;
    filter: grayscale(0) brightness(1);
    transition: 0.5s;
  }
  
   & .img-4 img:hover{
    filter: grayscale(0) brightness(1);
    transform: scale(1.02);
  }

  //Image img-5  
  & .img-5 {
    display: flex;
  }
  
  & .img-5 img{
    object-fit: cover;
    margin-left: -2rem;
    border-radius: 0.1rem;
    filter: grayscale(0) brightness(1);
    transition: 0.5s;
  }
  
  & .img-5 img:hover{
    filter: grayscale(0) brightness(1);
    transform: scale(1.02);
  }
  
  }

  @media (max-width: 750px) {
    .image-gallery .img-5 {
      display: none;
    }
  }


//top navigation, discover logo(Netflix)
.navbar {
  align-self: center;

//top navigation
    &:first-child a {
      color: #f8f9fa;
    }

    &:first-child a:hover {
      color: #28a745;
    }

    &:last-child img {
      width: 10%;
    }

}

//Search-box
.search-box {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;

  & .search {
    width: 250px;
    height: 40px;
    background-color: rgba(245, 245, 245, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 0px 20px;
  
    & input {
      width: 100%;
      height: 30px;
      border: none;
      outline: none;
      margin: 0 0.3rem;
      background-color: transparent;
    }
  
    & button {
      background: none;
      border: none;
      cursor: pointer;
    }

    & button a {
      color: red;
    }

    & button i {
      color: red;
      cursor: pointer;
    }
  }
}  

//Slideshows, head-title, head-more, carousel
.slideshows {
    margin: 1rem 0.3rem;

//head
    & .head {
      display: grid;
      grid-template-columns: 1fr 10fr 20fr 1fr;
      align-items: center;
    }

//head-title
    & .head .title {
      grid-column: 2/3;
    }

    & .head .title .title-small {
      font-size: 1.3rem;
      color: #f8f9fa;
    }

    & .head .title .title-large {
      color: #f8f9fa;
    }

//head-more    
    & .head .more {
      justify-self: end;
    }

    & .head .more a {
      color: #f8f9fa;
    }
    & .head .more a:hover {
      color: #28a745;
    }

//carousel
    & .content-container .carousel-container .discover-content  a {
      color: #f8f9fa;
      text-decoration: none;
  
      &:hover {
        color: #28a745;
        text-decoration: none;
      }
    }
    
    & .content-container .carousel-container .discover-content  a img{
      border-radius: 0.3rem;
    }

    & .content-container .carousel-container .discover-content a img:hover {
      transform: scale(1.02);
    }
  
  }
  
 //movie-container, columns & images
 .movie-container {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: auto;

   & .col {
     padding: 0;
     width: 100%;
   }

   & .col a {
     color: #f8f9fa;
     text-decoration: none;
   }

   & .col a:hover {
     color: #f8f9fa;
     text-decoration: none;
   }

   & .col a img {
     max-height: 50vh;
     width: 100%;
     object-fit: cover;
     padding: 0.2rem;
   }

   & .col a img:hover {
    transform: scale(1.02);
   }

 } 

